@charset "utf-8";
/* CSS Document */
@media screen and (max-width:1280px){	
.board_gallery.cert {margin:-1.5em 0 0 -1.5em;}
.board_gallery.cert > li .in {margin:1.5em 0 0 1.5em;}

}

@media screen and (max-width:1180px){
.dp1_mypage.dp2_purchase .w_state{width:7em;}
.dp1_mypage.dp2_purchase .w_tel{width:8em;}
.dp1_mypage.dp2_purchase .w_tone{width:5em;}
.dp1_mypage.dp2_purchase .w_price3{width:11em;}

}

@media screen and (max-width:1080px){
.board_gallery.cert > li {width:25%;}
}


@media screen and (max-width:1024px){
	
.bgfix.fix{ background-attachment:inherit;}
.bgfix.st {background-size:cover;}

	
/*
table .input_st,
table .label_file .btn,
table .label_select{ margin:.25em 0;}
table .label_select .input_st{ margin:0;}
table .input_st:not([type=button]):not([type=submit]):not(button):not(a),
table .label_select{ width:100% !important;}
table .input_row .input_st{ margin-top:0; margin-bottom:0;}*/

table .input_st:not([type=button]):not([type=submit]):not(button):not(a),
table .label_select{ /*width:100%*/}

/*전화번호*/
.tel_group .input_st:not([type=button]),
.tel_group .label_select{ flex:1;}
.tel_group .input_st[type=button]{ margin-left:.25em;}

/*이메일*/
.mail_group .input_st:not([type=button]){ flex:1;}
.mail_group .input_st[type=button]{ margin-left:.25em;}
.mail_group .label_select{ margin-left:0 !important;}

/*주소*/
.group_add .input_row{ padding:0;}
.group_add .input_row:nth-child(1){ display:flex; flex-wrap:wrap;}
.group_add .input_row:nth-child(1) .input_st[type=text]{ flex:1;}
.group_add .input_row:nth-child(1) .input_st{ margin-left:.25em;}
.group_add .input_row:nth-child(1) .input_st:first-child{ margin-left:0;}

/*날짜선택*/
.group_year{ display:flex; flex-wrap:wrap; align-content:center; align-items:center;}
.group_year .input_st[type=text]{ flex:1;}

/**/
.input_st.moHide,
.board_st .w_hit,
.board_st.faq .w_btn,
.board_btn_wrap.moHide{ display:none !important;}

.input_tt{ display:block; margin:.375em 0;}

.board_Event{margin:-3em 0 0 -1.5em;}
.board_Event > li .in{margin:3em 0 0 1.5em;}


}
@media screen and (max-width:900px){
.board_gallery.cert > li {width:33.33%;}

.board_st.faq.prodSt .list > li .con .w_tit{padding:1.25em 1em;}
.board_st.faq.prodSt .list > li .con .faqQ{font-size:1.063em;}

.w_form_tit{width:10em;}

.label_wrap > li{padding:.5em 0; min-width:inherit;}
.label_wrap > li .ml30{margin-left:10px !important;}

.flex_table > li > .tr.orderMst1{flex-direction:row; flex-wrap:wrap;}
.orderMstwd{width:auto !important;}
.orderMstwd.st1{margin-left:auto;}
.tt_price.orderMstfont1{font-size:.813em;}
.imgCon .wrap_con > p > span.t1.biGst.orderMstfont1{font-size:1em;}

.board_btn_wrap.orderMst1{display:none;}
.board_btn_wrap.orderMst1 .label_st{display:flex; flex-wrap:wrap; align-items:center; align-content:center;}
.board_btn_wrap.orderMst1 .label_st > span{flex:1; min-width:0; text-align:left !important; font-size:.938em; padding-left:1em;}

.board_st .bg1{background:#fafafa !important}

.label_wrap.deliverySt {justify-content:space-between;}
.label_wrap.deliverySt > li {flex:1 1 48%; max-width:48%; padding:0; padding-bottom:.5em;}
.label_wrap.deliverySt > li .input_st{font-size:.813em !important; width:100% !important; height:3.5em;}

.board_st .bg1.lineno{border-right:none;}

.orderFlexSt{flex-direction:column;align-items:inherit !important; align-content:inherit !important;}
.orderFlexSt .ml20{margin-left:0 !important; margin-top:10px;}

}

@media screen and (max-width:768px){	
table.response{ font-size:1em;}
table.response,
table.response caption,
table.response thead,
table.response tbody,
table.response tfoot,
table.response tr,
table.response th,
table.response td{ display:block; box-sizing:border-box; height:auto !important; width:auto !important;}
table.response tr{ position:relative; border:1px solid #ddd; margin-bottom:.5em; background:#fafafa}
table.response *[data-th]{ display:flex !important; flex-wrap:wrap; align-items:stretch; text-align:left;}
table.response *[data-th]:before{ content:attr(data-th); box-sizing:border-box; display:flex; align-content:center; align-items:center; flex:1 0 6em; max-width:6em; font-weight:500; color:#666; font-size:.875em;}
table.response *[data-th] > *{ flex:1;}

table.response.st1 *[data-th]:before{ flex:1 0 8em; max-width:8em;}


table .pcHide{ display:block !important;}
table .pcHide.flex{ display:flex !important;}
table .moHide{ display:none !important;}

/*BOARD*/
.board_st{ font-size:1em;}
.board_st th,
.board_st td{ padding:.5em .5em;}

.board_st.list.tit{display:none;}
.board_st.list.tit + .board_st.list{ border-top:4px solid #093291;}
.board_st.list tr{ padding:.5em .5em; border-bottom:1px solid #ddd;}
.board_st.list td{ border:none; padding:.25em 0; text-align:left; background:transparent !important;}
.board_st.list tr.reply{ padding-left:3em;}
.board_st.list tr.reply .w_no{ display:block; position:absolute; top:50%; left:0; transform:translateY(-50%); padding:0; width:2.5em !important; text-align:center;}
.board_st.list .w_no{ display:none;}
.board_st.list .w_tit{ font-size:1.125em; color:#111; font-weight:500;}
.board_st.list .w_tit a{ max-width:100% !important; white-space:normal !important; font-weight:500;}
.board_st.list .w_tit ~ td{ position:relative; display:inline-block; padding-left:1.125em; margin-left:1em;}
.board_st.list .w_tit ~ td:before{ content:""; position:absolute; left:0; top:50%; margin-top:-.375em; height:.75em; width:1px; background:#ddd;}
.board_st.list .w_tit + td{ padding-left:0; margin-left:0;}
.board_st.list .w_tit + td:before{ display:none;}

.board_st.list.tit.mlinest{display:block; border-bottom:none;}
.board_st.list.tit.mlinest thead {display:none !important;}

.board_st.list.notice tr{ background:#f2f8f8;}
.board_st.list .reply{ background:#f7f7f7;}

.board_st.write{}
.board_st.write tr{ padding:1em .25em; border-bottom:1px solid #aaa;}
.board_st.write th,
.board_st.write td{ border-width:0; padding:.25em 0;}
.board_st.write th{ font-size:1.125em; color:#111;}

.board_view_top .tit{ text-align:center; font-weight:500;}
.board_view_top .board_info{ padding:0 1px .75em 0;}
.board_view_top .board_info > li{ flex:1 1 auto; min-width:50%; border:solid #ddd; border-width:1px; margin:0 -1px -1px 0; padding:.75em .75em;}
.board_view_top .board_info > li:before{ display:none;}
.board_view_top .board_file{ padding:.75em .5em;}
.board_view_middle{ padding:2.5em 0 !important; overflow-x:auto;}
.board_view_bottom .w_form_tit{ width:7em;}

.board_st.faq{ font-size:.938em;}

table.response.noTice{border-top:1px solid #ddd;}
table.response.noTice tr{border-right:none; border-left:none; background:#fff; margin-bottom:0; border:none; border-bottom:1px solid #ddd;}

table.response.noTiceV tr{margin-bottom:0; border:none; padding:0; border-bottom:1px solid #ddd;}
table.response.noTiceV.board_st.write th{padding:.75em 1em; background:#fafafa; font-weight:600;}
table.response.noTiceV.board_st.write td{background:#fff; padding:.75em 1em;}

.board_orderSt_inner_wrap{padding:1em 0;}
.board_orderSt_inner_wrap .board_orderSt th,
.board_orderSt_inner_wrap .board_orderSt td{border:none !important;}

.dp2_order_fin table.response tr{margin-bottom:0; border:none; background:#fff; display:flex; flex-wrap:wrap; align-items:center; align-content:center; margin-bottom:.5em;}
.dp2_order_fin table.response tr:first-child{margin-top:.5em;}
.dp2_order_fin .board_st.write th{font-size:.875em; padding:.5em 0;}
.dp2_order_fin .board_st.write td{flex:1; min-width:0; margin-left:auto; text-align:right; padding:0;}
.dp2_order_fin .board_st.write td > br{display:none !important;}
.dp2_order_fin .board_st .bg1{background:#fff !important;border-right:none;}
.dp2_order_fin .board_tit{margin-bottom:0; padding-bottom:1em; padding-top:1em; border-top:8px solid #f5f5f5; border-bottom:1px solid #eee;}
.dp2_order_fin .board_st.write{border-top:none;}
.dp2_order_fin .page_sec{margin-top:0 !important;}
.dp2_order_fin .tt_price.st1.page_sec2 {padding-bottom:1em !important;}
.dp2_order_fin .input_wrap.page_sec05{margin-top:0 !important; justify-content:flex-end;}

.dp2_order .board_tit{margin-bottom:0; padding-bottom:1em; padding-top:1em; border-top:8px solid #f5f5f5; border-bottom:1px solid #eee;}
.dp2_order .board_st.write{border-top:none;}
.dp2_order .page_sec{margin-top:0 !important;}

.mFlexst{align-items:inherit !Important; align-content:inherit !Important; justify-content:inherit !Important; padding:0 .5em;}
.mFlexst.st1{padding:0;}
.mFlexst.mt0{margin-top:0 !important;}

.mFlexst2{flex-direction:column !Important; align-items:inherit !Important; align-content:inherit !Important; justify-content:inherit !Important; }
.mFlexst2 .wrap_con{padding-top:.5em;}

.mal{text-align:left !important;}

.orderBtnMst .input_st.mt5{margin-top:0 !important; margin-left:1px;}

.pRoresponse{}
.pRoresponse thead{display:none !important;}
.pRoresponse tr{}

.input_wrap.mFlexno{display: block !important; flex-wrap:inherit !important; align-items:inhereit !important;}
.label_st.mLabelno{display:block; padding-bottom:.750em;}

/**/
.board_search_wrap{ display:block; font-size:1em;}
.board_search_wrap .total_wrap{ margin:0 0 .5em 0;}
.board_search_wrap .right{ display:flex; flex-wrap:wrap;}
.board_search_wrap .input_st{ margin-left:.25em; padding-left:.5em; padding-right:.5em;}
.board_search_wrap .input_st:first-child{ margin-left:0;}
.board_search_wrap .sel{ flex:1; max-width:6em;}
.board_search_wrap .inp{ flex:1; max-width:calc(100% - 6em - 5.5em);}
.board_search_wrap .btn{ flex:1; max-width:5.5em;}
.board_search_wrap .btn_write{ flex:1 0 100%; width:100%; margin:.5em 0 0 0;}

/**/
.board_btn_wrap .input_st{ min-width:inherit; padding-left:.5em; padding-right:.5em;}
.board_btn_wrap.flex .input_st:not(.s1) .xi{ display:none;}

.board_btn_wrap.full{ display:flex;}
.board_btn_wrap.full > .input_st{ flex:1; margin-left:.25em;}
.board_btn_wrap.full > .input_st:first-child{ margin-left:0;}
.pop .board_btn_wrap.full > .input_st:not(.s1){ height:3em;}

/**/
.board_gallery > li {width:100%;}
.board_gallery.cert {margin:-1em 0 0 -1em;}
.board_gallery.cert > li {width:50%;}
.board_gallery.cert > li .in {margin:1em 0 0 1em;}


/**/
.form_Table th,
.form_Table td {padding:.75em 1em; border-bottom:none;}
.form_Table th {background:#f7f7f7; border-bottom:1px solid #e8e8e8}

/**/
.m_stWdtit {width:6.5em!important;}

/**/
.tel_group .input_st,
.tel_group .label_select{ width:calc(33.33% - 1.375em) !important;}
.tel_group .label_select .input_st{ width:100% !important;}

.mail_group .input_st[type=text]{ width:calc(50% - 1em) !important;}
.mail_group .label_select{ /*width:calc(100% - 1em) !important;*/ margin-top:.4em;}
.mail_group .label_select .input_st{ width:100% !important;}
.mail_group .input_st.s2[type=text] + .label_select{ width:calc(100% - .813em) !important;}
.mail_group.mwd100 .input_st[type=text]{width:100% !important;}

.table_st td {word-break:break-all;}
.table_st th,
.table_st td {padding:.9em .5em !important;}

.mwd100{width:100% !important;}


.mCartst.flex_table > li > .tr{flex-wrap:wrap; padding:1em 0;}
.mCartst.flex_table > li > .tr > .td.wCon{flex:auto; width:100%; border-bottom:2px dashed #dedede; padding-bottom:2em; margin-bottom:1em;}
.mCartst.flex_table > li > .tr > .td.wCon .imgCon .wrap_img{width:8em; margin-right:1em;}
.mCartst.flex_table > li > .tr > .td.wVol{flex-direction:inherit; flex:100%; width:100%; max-width:100%;}
.mCartst.flex_table > li > .tr > .td.wVol .tt_price{flex:1 1 33.33%; max-width:33.33%; text-align:left !important;}
.mCartst.flex_table > li > .tr > .td.wVol2{flex:1 1 35%; max-width:35%; width:35%; order:4; align-items:inherit; align-content:inherit;}
.mCartst.flex_table > li > .tr > .td.wPrice2{flex:100%; max-width:100%; width:100%; order:2;}
.mCartst.flex_table > li > .tr > .td.wPrice2 > div{display:flex; width:100%; flex-wrap:wrap;}
.mCartst.flex_table > li > .tr > .td.wPrice2 > div .tt_price{flex:1 1 33.33%; max-width:33.33%; text-align:left;}
.mCartst.flex_table > li > .tr > .td.wBtn2{align-items:inherit; order:3; flex:1 1 65%; max-width:65%; width:65%; display:flex; flex-wrap:wrap; flex-direction:inherit; justify-content:inherit}
.mCartst.flex_table > li > .tr > .td.wBtn2 > div.flex{justify-content:center;}


.board_Event{margin:-1em 0 0 -1em}
.board_Event > li{width:50%}
.board_Event > li .in{margin:1em 0 0 1em;}




}

@media screen and (max-width:560px){

}

@media screen and (max-width:400px){
.label_wrap.mst1{display:block;}
.label_wrap.mst1 > li .ml30{margin-left:0 !important;}
	
	

}

@media screen and (max-width:380px){
.reviewSt.flex_table > li > .tr{display:block;}
.reviewSt.flex_table > li > .tr > .td .imgCon{display:block;}
.reviewSt.flex_table > li > .tr > .td .imgCon .wrap_img{margin-right:0; width:inherit; padding-bottom:1em;}
.reviewSt.flex_table > li > .tr > .td.wBtn{align-items:inherit}
.dp2_order .tt_price.orderMstfont1{text-align:left !important;}
.dp2_order .flex_table > li > .tr > .td.wVol,
.dp2_order .flex_table > li > .tr > .td.wPrice3,
.dp2_order .flex_table > li > .tr > .td.wPrice{align-content:inherit; align-items:inherit;}


}

@media screen and (max-width:300px){
	
table.response.responseSmall{}
table.response.responseSmall .flex_table > li > .tr > .td.wCon .imgCon{display:block; align-items:inherit; align-content:inherit}
table.response.responseSmall .flex_table > li > .tr > .td.wCon .imgCon .wrap_img.w3	{width:inherit; margin-right:0;}
table.response.responseSmall .flex_table > li > .tr > .td.wCon .imgCon .wrap_con{padding-top:.75em;}
table.response.responseSmall .w_price3{display:block !important; padding:0 .75em;}
table.response.responseSmall .w_tone{display:block !important; padding:.75em;}

.mCartst.flex_table > li > .tr > .td.wCon .imgCon{display:block;}
.mCartst.flex_table > li > .tr > .td.wCon .imgCon .wrap_img{width:inherit; margin-right:0;}
.mCartst.flex_table > li > .tr > .td.wCon .imgCon .wrap_con{padding-top:1em;}



}

@media all and (max-width:1024px) and (orientation:landscape){

}
