@charset "utf-8";
/* CSS Document */
.PHONE{display:none;}

@media screen and (max-width:1919px){
.box0{max-width:95%;}
.box1{max-width:95%;}
.box2{max-width:95%}
.box3{max-width:95%;}

#footer .info_wrap .con_wrap{margin-left:0;}
#footer .info_wrap .con_wrap > li:first-of-type .inner{margin-left:0;}
}


@media screen and (max-width:1680px){
/*header*/
#header .etc_wrap .etc_menu{width:15em;}
#header .top_wrap .wrap_in .logo_wrap .logo .in_txt{position:static;}
/*main*/
.mainSlider_wrap .mainSlogan .t2{font-size:3em;}
}

@media screen and (max-width:1600px){
.page_prodBoxWrap .page_prodiMG{width:calc(100% - 33em)}	
.page_prodBoxWrap .page_prodTBox{width:30em;}
}

@media screen and (max-width:1530px){
.page_prodBoxWrap .page_prodiMG{width:calc(100% - 31em)}	
.page_prodBoxWrap .page_prodTBox{width:28em;}
}

@media screen and (max-width:1440px){
#contents .sub_page_layout .layout_wrap .sub_gnb{width:13em;}	
#contents .sub_page_layout .layout_wrap .sub_doc{padding-right:3em;}

}
@media screen and (max-width:1370px){
.page_shop_wrap .shop_lnb_wrap{width:12em;}	
.main_prod_list > .list > li{flex:1 1 33.33%; max-width:33.33%;}
}
@media screen and (max-width:1340px){
.page_prodBoxWrap .page_prodiMG{width:calc(100% - 30em)}	
.page_prodBoxWrap .page_prodTBox{width:28em;}
}

@media screen and (max-width:1300px){
.my_search_wrap{padding:.75em; }
.my_search_wrap > div{ display:block; align-items:inherit!important; align-content:inherit!important;}
.my_search_wrap > div .in.mst1{display:flex; flex-wrap:wrap; align-items:center; align-content:center; margin-bottom:10px;}
.my_search_wrap > div .in.mst1 .input_st{flex:1 1 14.28%; max-width:14.28% !important; min-width:inherit !important; margin-right:.25em; padding:.5em 0 !important;}
.my_search_wrap > div.flex > div:last-child {margin-top:.5em;}
.my_search_wrap > div .in .input_st.w2{width:7.6em;}
.my_search_wrap > div .in .input_st.c8{min-width:5em !important;}
}

@media screen and (max-width:1280px){
body{ font-size:14px;}
.mainSlider_wrap .mainSlogan .t2{font-size:2.5em;}
}

@media screen and (max-width:1230px){

}

@media screen and (max-width:1200px){
.main_prod_list > .list > li{flex:1 1 33.33%; max-width:33.33%}
#footer .info_wrap .con_wrap > li{fleX:1 1 50%;}
#footer .info_wrap .con_wrap > li.f1{order:4; flex:1 1 100%; margin-top:2em;}
#footer .info_wrap .con_wrap > li.cs{max-width:50%;}
#footer .info_wrap .con_wrap > li.f2{order:1;}
#footer .info_wrap .con_wrap > li.f2 .inner{margin-left:0;}
#footer .info_wrap .con_wrap > li.f3{order:2;}
#footer .info_wrap .con_wrap > li.f4{order:4; max-width:100%; flex:100%;}

}

@media screen and (max-width:1180px){
#contents .sub_page_layout .layout_wrap .sub_gnb{width:12em;}

}
@media screen and (max-width:1150px){
}

@media screen and (max-width:1130px){
.page_prodBoxWrap .page_prodiMG{width:calc(100% - 32em);}
.page_prodBoxWrap .page_prodTBox{width:30em;}
}

@media screen and (max-width:1020px){
.page_prodBoxWrap .page_prodiMG{width:calc(100% - 30em)}
.page_prodBoxWrap .page_prodTBox{width:27em;}
}

@media screen and (max-width:1024px){
/* 슬릭 */
.mainLayerPop{ position:fixed; top:0; bottom:0; left:0; right:0; z-index:2000; display:flex; align-content:center; align-items:center; justify-content:center; text-align:center; background:rgba(0,0,0,.4);}
.mainLayerPop .in_w{ box-sizing:border-box; max-width:95vw; max-height:calc(95vh - 6em); width:25em; margin-top:1em; margin-bottom:5em; background:#fff; border:1px solid #000; overflow-y:auto;}
.mainLayerPop .moSlide .el .popLayer{ position:static!important; height:auto !important; width:25em !important; max-width:100% !important; max-height:100%; border:none;}
.mainLayerPop .moSlide .el .popLayer img{ width:100%;}
.mainLayerPop .dot_wrap{ position:fixed; left:0; right:0; bottom:1em; text-align:center;}
.mainLayerPop .slick-dots > ul > li{ display:inline-block; margin:0 .125em;}
.mainLayerPop .slick-dots > ul > li button{ width:1em; height:1em; border:none; background:#fff; border-radius:100%; text-indent:-999999px; overflow:hidden; transition:.2s;}
.mainLayerPop .slick-dots > ul > li.slick-active button{ width:3em; border-radius:5em;}
.mainLayerPop.hide{ display:none;}
.mainLayerPop .moHide{ display:none;}
.mainLayerPop .pcHide{ display:block!important;}
.mainLayerPop div.popLayer_closeW{ display:flex; align-content:center; align-items:center;}
.mainLayerPop div.popLayer_closeW .popLayer_close{ flex:1;}
.popLayer{cursor:default}

.PHONE{display:block;}
/*공통*/
.fullH{height:calc(100vh - 26em); /*height:calc(100vh - 33em);*/}
/*#quick{display:none;}*/
#quick{right:0; bottom:0; width:100%;}
#quick .quickWrap{border-radius:inherit;}
#quick .quickWrap .menu{border-radius:inherit; display:flex; width:100%; align-content:center; align-items:center;}
#quick .quickWrap .menu > li.def{flex:1;}
#quick .quickWrap .menu > li.top{display:none}

#header.gnbOpen .menu_wrap .gnb_menu .gnb > li{ height:4em;}
#header .top_wrap .flexH, #header .menu_wrap .gnb_menu .gnb > li,
#header .menu_wrap .gnb_menu .gnb > li .dp1{height:4em;}
#header.gnbOpen:before{display:none;}
#header .top_wrap{padding:.75em 0;}
#header .top_wrap .wrap_in{height:5em; justify-content:inherit;}
#header .all_wrap .wrap_in{width:100%; height:100vh;}
#header .all_wrap .all_gnb .gnb > li{}
#header .all_wrap .all_gnb .gnb > li .dp1{}
#header .all_wrap .all_gnb_wrap2 .gnb > li{}
#header .all_wrap .all_gnb .gnb > li.menuNo{display:block!important;}
#header .top_wrap .wrap_in .logo_wrap{ order:-1; }
#header .top_wrap .wrap_in .logo_wrap .logo{flex-direction:column; align-items:inherit;}
#header .top_wrap .wrap_in .logo_wrap .logo .in_txt{margin-left:0; margin-top:.75em; font-size:.750em; display:none;}
#header .top_wrap .wrap_in .logo_wrap .logo .in > img{width:4em;}

#header .menu_wrap .gnb_menu .gnb{}

#header .menu_wrap .gnb_menu .gnb > li.lineSt .dp1:before{display:none;}
/*main*/
.mainSlider_wrap .mainSlogan .t2{font-size:2em;}
.mainSlider_wrap .mainSlogan .t3{}
.main_bnSlide_wrap .bnSlide_list .list{flex-wrap:wrap; margin:0 0 -1em -1em;}
.main_bnSlide_wrap .bnSlide_list .list .el{flex:1 1 50%; max-width: 50%;}
.main_bnSlide_wrap .bnSlide_list .list .el > .inner{margin:0 0 1em 1em;}

.main_member .list_wrap > .list{margin:0 0 -1em -1em;}
.main_member .list_wrap > .list > li .inner{margin:0 0 1em 1em;}
.main_member .list_wrap > .list > li{flex:1 1 50%; max-width:50%;}

.prod_layout > .small_wrap{padding-left:1em;}

.main_banner .list_wrap > .list{margin:0 0 -1em -1em;}
.main_banner .list_wrap > .list > li .inner{margin:0 0 1em 1em; padding:1.5em;}

.main_instagram .list_wrap > .list{margin:0 0 -1em -1em;}
.main_instagram .list_wrap > .list > li{flex:1 1 25%; max-width:25%;}
.main_instagram .list_wrap > .list > li .inner{margin:0 0 1em 1em;}

/*shopping*/
.page_shop_wrap .inner{flex-wrap:wrap;}
.page_shop_wrap .shop_lnb_wrap{width:100%; margin-bottom:2em; order:1;}
.page_shop_wrap .shop_ranking_wrap .in .list > li .tt{max-width:100%;}
.page_shop_wrap .shop_con_wrap{flex:1 1 100%; order:2}
.page_shop_wrap .shop_banner_wrap{width:100%; margin-bottom:2em; margin-top:0; order:3;}
.page_shop_wrap .shop_banner_wrap .in{margin-left:0;}
.shop_benefitList{display:flex; flex-wrap:wrap; margin:0 0 -.5em -1em;}
.shop_benefitList > li{flex:1 1 33.33%}
.page_shop_wrap .shop_banner_wrap .in{margin-left:.5em;}

.proSort_wrap .proSort_in{flex-wrap:wrap;}

.page_shop_wrap .shop_lnb_wrap .gnb{display:none!important;}
.page_shop_wrap .shop_lnb_wrap .tit{display:none;}
.page_shop_wrap .shop_ranking_wrap{margin-top:0;}

/*sub_left*/
#contents .sub_page_layout .layout_wrap .sub_gnb{display:none;}
#contents .sub_page_layout .layout_wrap .sub_doc{flex:1 1 100%; padding-right:0;}

.mall_order_wrap{padding-right:0;}

.page_prodBoxWrap .page_prodiMG{width:calc(100% - 26em)}	
.page_prodBoxWrap .page_prodTBox{width:25em;}

/*footer css h*/
#footer .menu_wrap{padding-bottom:5em;}
#footerBar{ display:block !important; position:fixed; z-index:109; left:0; right:0; bottom:0; transition:.4s;}
#footerBar .inner{ background:#222222; box-shadow:0 2px .5em rgba(0,0,0,1);}
#footerBar .list > li{ flex:1;}
#footerBar .list > li .in{ height:5em; border-left:1px solid rgba(255,255,255,.15); color:#fff; padding:0 .5em;}
#footerBar .list > li:first-child .in{ border-left-width:0;}
#footerBar .list > li .in .icon{ height:2.375em;}
#footerBar .list > li .in .xi{ font-size:1.625em;}
#footerBar .list > li .in .tt{ font-size:.875em;}

.mall_order_wrap .mall_order_fix{position:static; margin-top:1em;}
.mall_order_wrap .mall_order_fix .box3{max-width:100% !important; width:100% !important;}
.mall_order_wrap .mall_order_fix.on{position:static;}
.mall_order_wrap .mall_order_fix .fix_wrap{width:100%;}
.mall_order_wrap .mall_order_fix .fix_wrap button[type=submit]{width:100% !important;}
.mall_order_wrap .mall_order_fix .fix_wrap .add_wrap{padding:1em;}
.mall_order_wrap .mall_order_fix .fix_wrap .con_wrap{padding:1em;}
body.footerCheck .mall_order_wrap .mall_order_fix.on{position:static;}


}

@media screen and (max-width:1000px){
#header .etc_wrap{margin-left:2em;}
#header .top_wrap .wrap_in .menuR{margin-left:auto;}

}

@media screen and (max-width:990px){
.page_prodBoxWrap .page_prodiMG{width:calc(100% - 25em)}	
.page_prodBoxWrap .page_prodTBox{width:24em;}
}

@media screen and (max-width:940px){
#footer .menu_wrap .wrap_in{flex-direction:column; padding:1em 0 2em 0;}
#footer .menu_wrap .menu{justify-content:center;}
#footer .menu_wrap .menu > liP{flex:1 1 20%; max-width:20%;}
#footer .menu_wrap .menu > li .in .tt{font-size:.813em; color:#666;}
#footer .menu_wrap .sns {order:-1;}


}

@media screen and (max-width:900px){

.dp1_shopping #contents .doc{padding:1em 0 0 0;}	
	
.prod_layout > .big_wrap{width:100%; margin-bottom:2em;}
.prod_layout > .small_wrap{padding-left:0; flex:1 1 100%;}
.main_prod_list > .list > li{flex:1 1 33.33%; max-width:33.33%;}
.main_banner .list_wrap > .list > li{flex:1 1 100%}
.main_instagram .list_wrap > .list > li{flex:1 1 33.33%; max-width:33.33%;}
#contents .sub_page_nav{padding-top:1em;}

.page_about_con3 .about_list2 > li .in{flex-direction:column; align-items:flex-start;}
.page_about_con3 .about_list2 > li .in .wrap_img{width:100%;}
.page_about_con3 .about_list2 > li .in .wrap_tt{margin-left:0; margin-top:.75em;}
.page_about_con3 .about_list2 > li:nth-child(2n) .wrap_tt{order:2; text-align:left; margin-right:0;}

.page_about_con5 .in .about_list4 > li .inn .icon{width:9em; height:9em;}
.page_about_con5 .in .about_list4 > li .inn .tt .tt1{font-size:1.188em; padding-bottom:.375em;}

.step_process > li{width:33.33%;}
.step_process .line{display:none;}


.main_con{padding:0;}
.main_con.main_bnSlide_wrap{padding:1em 0;}
.main_bnSlide_wrap .bnSlide_list .list .el > .inner .con_wrap{padding:1em 0;}
.main_bnSlide_wrap .bnSlide_list .list .el > .inner .con_wrap .t1{font-size:.875em;}
.main_bnSlide_wrap .bnSlide_list .list .el > .inner .con_wrap .t2{font-size:1.250em;}
.main_bnSlide_wrap .bnSlide_list .list .el > .inner .con_wrap .ex{font-size:.813em;}

.main_con.main_member.bg1{padding:2em 0;}
.main_member .list_wrap > .list > li .inner{padding:1em;}
.main_member .list_wrap > .list > li .icon_wrap .icon{height:5em;}
.main_member .list_wrap > .list > li .con_wrap .t1{font-size:1.250em;}
.main_member .list_wrap > .list > li .con_wrap .t2{font-size:.813em;}

.main_more{margin-top:2em;}
.main_tit{margin-bottom:2em;}
.main_tit .t1{font-size:2em; letter-spacing:.063em;}
.main_tit .t3{font-size:1.188em;}

.main_con.main_product{padding:2em 0;}

.main_con.main_banner{padding-bottom:2em;}
.main_con.main_banner .main_tit .txt{margin-top:1em;}
.main_banner .list_wrap > .list > li .inner .main_tit .t2{font-size:1.5em;}
.main_con.main_instagram{padding-bottom:2em;}

.page_guide_faq{margin:4em 0;}
.page_guide_faq .inner .conL{width:25em;}
.page_guide_link .list > li .in{background-size:cover}

.page_customer_infowrap .in .con2{width:100%;}
.page_customer_infowrap .in .con2 .inner{position:relative;}
.page_customer_infowrap .in .con2 .inner .input_st.w3{width:100% !important;}
.page_customer_infowrap .in .con2 .inner > button{position:absolute; right:0; top:0;}

.page_prodBigimgwrap.pcHide{display:block !important;}
.page_prodBigimgwrap{padding:0; margin-bottom:1em;}
.page_prodBoxWrap{display:flex; flex-direction:column-reverse; padding:0 1em;}
.page_prodBoxWrap .page_prodiMG{width:100%;}
.page_prodBoxWrap .page_prodiMG .list{margin:0;}
.page_prodBoxWrap .page_prodiMG .list .imgw .imgIn{margin:0;}
.page_prodBoxWrap .page_prodTBox{position:static; width:100%; display:block; margin-bottom:2.5em; padding:0;}

.optionList > li .txt .label_select{width:100% !important;}
.optionList > li .txt .label_select .input_st{width:100% !important; max-width:inherit !important; height:4em; line-height:2.5em;}

.page_prodBoxWrap .page_prodTBox .inn .orederBox .in .con .calculator_wrap > a{height:3em; line-height:2em;}

#footerBar{z-index:1;}

body.pop .popWrap.order_calulatorSt{width:100% !important; max-width:100vw !important; z-index:9; height:100vh; max-height:100vh}
body.pop .popWrap.order_calulatorSt .popIn{max-width:100vw; max-height:100vh;}
body.pop .popWrap.order_calulatorSt .popIn .popCon.st1{padding:4em 1.5em;}
.order_calulatorSt .layer_bg{display:none;}

.pop_order_calwrap .inner .calculation_w .conIn{padding-left:0;}
.pop_order_calwrap .inner .calculation_w .conIn .coN .in{flex-direction:column; align-items:inherit;}
.pop_order_calwrap .inner .calculation_w .conIn .coN .in .ti{width:inherit; padding:.75em 0 .313em 0;}
.pop_order_calwrap .inner .calculation_w .resultCon{margin:.5em;}

.fin_wrap{padding:0; border:none;}

#header .etc_wrap{position:absolute; top:0; height:4em; left:1em; margin-left:0;}
#header .etc_wrap .etc_menu .all_btn{/*position:absolute; top:0; height:3em; left:1em;*/} 
#header .etc_wrap .etc_menu .all_btn .ham,
#header .etc_wrap .etc_menu .all_btn .ham:before,
#header .etc_wrap .etc_menu .all_btn .ham:after{background:#fff;}
#header .etc_wrap .etc_menu .link .tt{display:none;}

#header .icon_menu > li:nth-child(2){display:none;}
#header .icon_menu > li:nth-child(3){display:none;}
#header .icon_menu > li.cs{display:none;}

.page_shop_wrap .shop_ranking_wrap .in .list{display:flex; flex-wrap:wrap;}
.page_shop_wrap .shop_ranking_wrap .in .list > li{padding-bottom:.688em; flex:1 1 16.66%; max-width:16.66%;}


}

@media screen and (max-width:768px){
body{ font-size:13px;}
body:not(.main) #footer{margin-top:5em;}

.page_memo{padding:1em;}

.page_about_con1 .in .t1{font-size:2em;}
.page_about_con2 .about_list1 > li .in .wrap_tt{padding-left:0;}
.page_about_con3 .in .t1{font-size:2em;}

#header .top_wrap .wrap_in{}
#header .top_wrap .wrap_in .menuR{flex:1; min-width:0; width:inherit;}
#header .top_wrap .wrap_in .menuR .inner{justify-content:flex-end}
#header .search_wrap .inn{width:inherit;}
#header .search_wrap .inn .inSearch{width:30em; max-width:95%;}

#header .mem_wrap{position:relative}
#header .mem_wrap .menu > li .in{height:4em; }
#header .mem_wrap .menu > li .in .tt {font-size:.938em;}
#header .mem_wrap .down .down_menu > li > a .tt {font-size:.938em;}



#header .all_banner{max-width:inherit}
#header .all_wrap .all_gnb .inner{padding:3em 2em 8em 3em;}
#header .all_wrap .all_logo {width:5em; margin:0 auto;}
#header .all_wrap .all_gnb .gnb > li .dp1{padding-bottom:1em;}
#header .all_wrap .all_gnb .gnb > li .dp1 .tt{font-size:1.063em;}

#header .menu_wrap .gnb_menu{max-width:100%;}
#header .menu_wrap .gnb_menu .gnb{overflow:hidden; overflow-x:scroll; /*white-space:nowrap;*/  justify-content:inherit;}
#header .menu_wrap .gnb_menu .gnb > li{/*overflow:inherit;*/ flex:inherit; min-width:5.688em;}
#header .menu_wrap .gnb_menu .gnb > li .dp1{padding:0;}
#header .menu_wrap .gnb_menu .gnb > li .dp1 .tt{font-size:.938em;}

.mainSlider_wrap .mainSlogan{padding:.5em 1em 2.5em 1em;}
.mainSlider_wrap .mainSlogan .t1{font-size:1.250em;}
.mainSlider_wrap .mainSlogan .t2{font-size:1.75em;}
.mainSlider_wrap .mainSlogan .t3{font-size:1em; max-width:94%;}
.mainSlider_wrap .mainSlogan .btn .btn_in{padding:.5em 1em;}
.mainSlider_wrap .mainSlogan .btn .btn_in .tt{font-size:.813em;}
.mainSlider_wrap .mainBtn{display:none;}

.page_about_con4 .in .about_list3 > li{width:50%;}
.page_about_con4 .in .about_list3 > li .inner{margin-top:1em; }
.page_about_con4 .in .about_list3 > li .inner .icon img{width:4em;}
.page_about_con4 .in .about_list3 > li:nth-child(2n) .inner{margin-top:1em;}

.page_about_con4 .in .t2{font-size:2em;}
.page_about_con5 .in .t1{font-size:2em;}
.page_about_con6 .in .t11{font-size:2em;}

.main_prod_list > .list > li{flex:1 1 50%; max-width: 50%;}

.main_instagram .list_wrap > .list{margin:0 0 -.5em; -.5em;}
.main_instagram .list_wrap > .list > li{flex:1 1 20%; max-width: 20%;}
.main_instagram .list_wrap > .list > li .inner{margin:0 0 .5em .5em;}

#footer .info_wrap{padding:1em 0;}

#footer .info_wrap .con_wrap .info > li .tt{font-size:.875em; color:#555;}
#footer .info_wrap .main_more{display:none;}
#footer .info_wrap .main_more.st1 {display:flex;}
#footer .info_wrap .con_wrap > li.cs .tel .tt{font-size:1.5em; padding-bottom:.5em;}
#footer .info_wrap .con_wrap > li.cs .bank .t2{font-size:1.375em;}

#contents .sub_page_tit .t1{font-size:2em;}
#contents .sub_page_tit .ent{font-size:.750em;}

.proSort_wrap .proSort_in{flex-wrap:inherit; overflow:hidden; overflow-x:scroll}
.proSort_wrap .proSort_in .con{padding:0; min-width:6.813em;}
.proSortAllList > li .sortBtn{padding:0; min-width:6.813em;}
.proSortAllList > li .sortBtn .tt{font-size:.813em;}
.shop_filter_wrap{margin:0 0 1em 0;}

.mall_list_total{display:block !important;}
.mall_list_total .total .t3{font-size:.875em;}
.mall_list_total .total .t4{font-size:1em;}
.mall_list_total .etc{padding-top:.5em;}

.main_prod_list > .list{margin:0 0 -1.25em -.5em;}
.main_prod_list > .list > li .inner{margin:0 0 1.25em .5em;}
.main_prod_list > .list > li .con_wrap{padding:1em 0}
.main_prod_list > .list > li .con_wrap .tit{min-height:4em;}
.main_prod_list > .list > li .con_wrap .tit .t2{font-size:.813em;}

.main_prod_list > .list > li .con_wrap .price_wrap{flex-direction:column; align-items:inherit; align-content:inherit;}
.main_prod_list > .list > li .con_wrap .price_in.stock{display:flex; flex-wrap:wrap; justify-content:space-between; align-items:center; align-content:center; padding-bottom:.5em;}
.main_prod_list > .list > li .con_wrap .price {text-align:left; margin-left:inherit;}
.main_prod_list > .list > li .con_wrap .price > * {justify-content:inherit;}

.page_shop_wrap .shop_banner_wrap .in{margin-left:0;}
.shop_benefitList{margin:3em 0 0 0;}
.shop_benefitList > li{margin:0 0 -1px -1px;}
.shop_benefitList > li .in{margin-left:0; border-radius:0; margin:0; border:1px solid #eee;}

.login_wrap .login{width:100%;}
.login_wrap .benefit{padding-left:0; width:100%;}
.login_wrap .login.w1 .form_st{width:100%;}

#__daum__layer_1{width:100% !important; max-width:100% !important;}

.page_Benefit_bg .tw .t1{font-size:2em;}
.page_Benefit_bg .tw .t2{font-size:3em;}
.page_Benefit_bg  .ac > img{width:15em;}
.page_Benefit_wrap .benefitCon .txw{padding-left:0;}
.page_Benefit_bg .taBw {width:100%; max-width:98%;}
.page_Benefit_bg .taBw .tab{margin:0;}
.page_Benefit_bg .taBw .tab > li{flex:1 1 33.33%; max-width:33.33%; margin:0 0 -1px -1px;}
.page_Benefit_bg .taBw .tab > li .in {padding:.75em .25em; text-align:center; margin:0; border-radius:0; display:flex;
flex-direction:column; border:1px solid #ddd; align-items:center; align-content:center; min-height:2.5em;}
.page_Benefit_bg .taBw .tab > li .in .icon{padding:0;}
.page_Benefit_bg .taBw .tab > li .in .icon > img {width:2em;}
.page_Benefit_bg .taBw .tab > li .in .tt{font-size:.813em; white-space:nowrap; font-size:.813em; padding-top:5px;}
.page_Benefit_bg .taBw .tab > li .in .arrow {padding-left:0;}

.page_about_con1 .in {padding:2em 0 0 0;}
.page_about_con2{padding:0 0 4em 0;}
.page_about_con3{padding:3em 0;}
.page_about_con4 .in{padding:3em 0;}
.page_about_con5 .in{padding:3em 0;}
.page_about_con5 .in .about_list4{margin:3em 0 0 -1em;}
.page_about_con5 .in .about_list4 > li{flex:1 1 33.33%; max-width:33.33%;}
.page_about_con5 .in .about_list4 > li .inn{margin:0 0 0 1em;}
.page_about_con5 .in .about_list4 > li .inn .tt{padding:2em 1em 0 1em;}
.page_about_con5 .in .about_list4 > li .inn .tt .tt2{font-size:1em;}
.page_about_con5 .in .about_list4 > li .inn .tt .tt2 > br {display:none;}
.page_about_con5 .in .about_list4 > li .inn .icon{width:9em; height:9em;}
.page_about_con5 .in .about_list4 > li .inn .icon > img{width:5em;}

.page_guide_box .list > li .in{min-height:12em;}
.page_guide_box .list > li .in .icon{margin-top:0;}

.page_guide_faq{margin:4em 0;}
.page_guide_faq .inner{display:block; flex-wrap:inherit; justify-content:inherit; align-items:inherit; align-content:inheri;}
.page_guide_faq .inner .conL{width:100%;}
.page_guide_faq .inner .conR{flex:inherit; min-width:inherit; margin-left:0;}
.page_guide_faq .inner .conL .tabL{margin:1em 0 0 -.5em}
.page_guide_faq .inner .conL .tabL > li{flex:1; min-width:inherit;}

.page_customer_infowrap .in{padding:2em 1em;}
.page_customer_infowrap .in .con2{margin-top:1em;}

.orderCheck_tw{padding:1em;}
.orderCheck_tw.bgno{background:none;}

.board_tit .t1{font-size:1.250em;}

.dp1_mypage.dp2_intro #header,
.dp1_mypage.dp2_intro #contents .sub_page_nav {display:none !important;}

.dp1_mypage.dp2_intro .headH{padding-top:0}
.dp1_mypage.dp2_intro #contents .doc{padding:0;}
.dp1_mypage.dp2_intro #contents .sub_page_layout{padding-top:0;}
.dp1_mypage.dp2_intro #contents .sub_page_layout .layout_wrap{max-width:100% !important;}

.dp1_mypage.dp2_intro:not(.main) #footer{margin-top:0 !important;}

.moIcon{display:block !important;}
.phone_intro_wrap{padding:0 1em;}
.phone_intro_wrap .gnb{display:block;}
.phone_intro_wrap .gnb > li.m_customer,
.phone_intro_wrap .gnb > li.m_guide{display:none !important;}
.phone_intro_wrap .gnb > li{}
.phone_intro_wrap .gnb > li .reviewBtn{display:none !important;}
.phone_intro_wrap .gnb > li .dp1{}
.phone_intro_wrap .gnb > li .dp1 .ti{display:none !important;}
.phone_intro_wrap .gnb > li .dp2{display:block;}
.phone_intro_wrap .gnb > li .dp2 > li{}
.phone_intro_wrap .gnb > li .dp2 > li > a{display:none !important;}
.phone_intro_wrap .gnb > li .dp2 > li > a .tt{}
/*.phone_intro_wrap .gnb > li .dp3{display:block;}
.phone_intro_wrap .gnb > li .dp3 > li{padding:.938em .75em; border-bottom:1px solid #f5f5f5;}
.phone_intro_wrap .gnb > li .dp3 > li > a{position:relative}
.phone_intro_wrap .gnb > li .dp3 > li > a:after{position:absolute; content:"\e940"; right:0; top:50%; transform:translateY(-50%); font-family:xeicon; font-style:normal; font-size:1.250em; color:#999;}
.phone_intro_wrap .gnb > li .dp3 > li > a .tt{font-size:1.063em; color:#444;}
.phone_intro_wrap .gnb > li .dp3 > li > a .moIcon{padding-right:10px; color:#444; font-size:1.688em;}
.phone_intro_wrap .gnb > li .dp3 > li:hover{background:#f7f7f7; transition:.3s;}
.phone_intro_wrap .gnb > li .dp3 > li:hover > a:after{right:1em; transition:.3s;}
.phone_intro_wrap .phone_intro_infoW{}
.phone_intro_wrap .phone_intro_infoW .inner{padding:.5em 0;}
.phone_intro_wrap .phone_intro_infoW .inner .img{padding-right:.5em;}
.phone_intro_wrap .phone_intro_infoW .inner .img .xi{font-size:5.5em; color:#ccc;}
.phone_intro_wrap .phone_intro_infoW .inner .infoL{}
.phone_intro_wrap .phone_intro_infoW .inner .infoL > li{padding-bottom:.250em;}
.phone_intro_wrap .phone_intro_infoW .inner .infoL > li:last-child{padding-bottom:0;}
.phone_intro_wrap .phone_intro_infoW .inner .infoL > li .tx{color:#111;}
.phone_intro_wrap .phone_intro_infoW .inner .infoL > li .tx.st1{color:#e84e0f; }
.phone_intro_wrap .phone_intro_infoW .inner .infoL > li .tx.st2{font-weight:700; font-size:1.313em; padding-top:.15em;}
.phone_intro_wrap .phone_intro_totalW{padding:0 .75em;}
.phone_intro_wrap .phone_intro_totalW .inner{padding:1em .75em; background:#f7f7f7; margin:0 0 0 -1em; border-radius:.5em;}
.phone_intro_wrap .phone_intro_totalW .inner .con{flex:1 1 50%; max-width:50%;}
.phone_intro_wrap .phone_intro_totalW .inner .con .in{margin:0 0 0 1em;}
.phone_intro_wrap .phone_intro_totalW .inner .con .in .ti{color:#666; font-size:.875em; width:3em;}
.phone_intro_wrap .phone_intro_totalW .inner .con .in .tx{margin-left:auto; color:#e84e0f; font-weight:600; font-size:1.125em;}
.phone_intro_wrap .phone_intro_quickW{ }
.phone_intro_wrap .phone_intro_quickW .inner{padding:1em 0;}
.phone_intro_wrap .phone_intro_quickW .inner .list{}
.phone_intro_wrap .phone_intro_quickW .inner .list > li{flex:1 1 25%; max-width:25%;}
.phone_intro_wrap .phone_intro_quickW .inner .list > li .in{}
.phone_intro_wrap .phone_intro_quickW .inner .list > li .in .xi{font-size:1.750em; padding-bottom:.313em; color:#666;}
.phone_intro_wrap .phone_intro_quickW .inner .list > li .in .tt{font-size:.875em; color:#666;}
.phone_intro_wrap .phone_intro_reviewW{ }
.phone_intro_wrap .phone_intro_reviewW .inner{background:#FDF5E6; padding:1em; border-radius:.5em; text-align:center}
.phone_intro_wrap .phone_intro_reviewW .inner .tx{padding-bottom:.688em; color:#333;}
.phone_intro_wrap .phone_intro_reviewW .inner > a{border:1px solid #e84e0f; background:#fff; color:#e84e0f; border-radius:.250em; padding:.5em 0; width:100%; max-width:95%;}
.phone_intro_wrap .phone_intro_reviewW .inner > a .xi{}
.phone_intro_wrap .phone_intro_reviewW .inner > a .tt{}
.phone_intro_wrap .phone_intro_bannerW {margin:1em 0; overflow:hidden; border-radius:.5em;}
.phone_intro_wrap .phone_intro_bannerW .in{ display:block;}
*/
.dp1_mypage #contents .doc{padding:0;}
.dp1_mypage #contents .sub_page_layout{padding-top:1em;}

.page_shop_wrap .shop_ranking_wrap .in .list{display:flex; flex-wrap:wrap;}
.page_shop_wrap .shop_ranking_wrap .in .list > li{padding-bottom:.688em; flex:1 1 25%; max-width:25%;}


.page_Benefit_wrap .benefitCon .tiw{display:block;}
.page_Benefit_wrap .benefitCon .tiw .btn_more{margin-top:1em;}


}

@media screen and (max-width:660px){
.page_about_con5 .in .about_list4 > li {flex:1 1 100%; max-width:100%; margin-bottom:1em;}
.page_about_con5 .in .about_list4 > li .inn .tt .tt2 > br{display:block;}

}

@media screen and (max-width:600px){
#footer .info_wrap .con_wrap > li.cs{}
#footer .info_wrap .con_wrap > li.f2{}
#footer .info_wrap .con_wrap > li.f3{}
#footer .info_wrap .con_wrap > li.f3 .inner{margin-left:0;}
#footer .info_wrap .con_wrap .logo{display:none;}

.step_process{margin-left:0;}
.step_process > li{}
.step_process > li .inner{margin-left:0;}

.page_guide_link .list > li .in{padding:2em 1em;}

}

@media screen and (max-width:530px){
.page_guide_box .list > li .in{padding:1.5em 1em;}	
.page_guide_box .list > li .in .t1{font-size:1.313em;}
	
.page_guide_link .list{margin:0;}	
.page_guide_link .list > li{flex:100%; margin-bottom:1em;}
.page_guide_link .list > li:last-child{margin-bottom:0;}
.page_guide_link .list > li .in{margin:0 0 0 0}
	
}

@media screen and (max-width:500px){
#header .etc_wrap .etc_menu{width:auto;}
#header .etc_wrap .etc_menu .link .tt{display:none;}
#header .top_wrap .wrap_in .menuR{}
.page_about_con4 .in .about_list3 > li .inner{padding:3em 1em;}
.page_about_con4 .in .about_list3 > li .inner .tt1{font-size:1.125em;}

.resize.s6{padding-bottom:30%;}
.page_about_con1 .in .t3 > i{font-size:1.25em;}

.page_about_con5 .in .about_list4 > li{flex:1 1 100%;}

}

@media screen and (max-width:490px){
.main_more.st1 .more_in{min-width:5.5em; text-align:center}
.main_more.st1 .more_in .xi{display:none;}	

}



@media screen and (max-width:430px){
.page_guide_box .list{display:block; margin:0;}	
.page_guide_box .list > li{flex:inherit; width:100%;}	
.page_guide_box .list > li .in{margin:0; min-height:inherit; position:relative}
.page_guide_box .list > li .in .icon{position:absolute; right:2em; top:2em;}
.page_guide_box .list > li .in .t2{min-height:inherit;}

}


@media screen and (max-width:420px){
.mainSlider_wrap .mainSlogan .t2{font-size:1.5em;}

.page_about_con1 .in .t2{font-size:1.1em;}

.step_process > li{width:50%;}

}
@media screen and (max-width:400px){
}


@media screen and (max-width:385px){
.optionList > li > div{display:block;}
.optionList > li .tit{padding-bottom:1em;}

}

@media screen and (max-width:360px){
.step_process > li{width:100%;}

.pop_order_calwrap .inner .pro_w .img{width:6em}
.pop_order_calwrap .inner .pro_w .txt{margin-left:.7em;}


}

@media screen and (max-width:320px){
#footer .info_wrap .con_wrap > li{flex:1 1 100%;}
#footer .info_wrap .con_wrap > li.cs .bank .t2{font-size:1.250em;}

.main_prod_list > .list{margin:0 0 0 0;}
.main_prod_list > .list > li{flex:100%; max-width:100%;}
.main_prod_list > .list > li .inner{margin:0 0 1em 0;}


}

@media screen and (max-width:280px){


}
